*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    background-image: linear-gradient(to right, rgba(9,48,40, 0.85), rgba(35,122,87, 0.85)), url(background.jpg);
    background-size: cover;
    color: white;
}

html {
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

.main__nav{
    width: 20%;
    margin: 7% auto;
    background-color: white;
    color: black;
    text-align: center;
    padding: 1.1rem;
    border-radius: 3rem;
}

.main__nav ul{
    list-style-type: none;
}

.main__nav li{
    padding-top: .55rem;
    padding-bottom: .55rem;
}

.main__nav li a{
    color: black;
    text-decoration: none;
}

.main__nav li:hover{
    background: rgba(74,194,154);
    text-decoration: none;
    cursor: pointer;
}

.main_header{
    margin-top: 5%;
    text-align: center;
    font-size: 5rem;
    letter-spacing: .8rem;
    animation: moveInDown 1s ease-out;
}

select.form-control:not([size]):not([multiple]) {
  height: auto!important;
}

.navigation{
    position: fixed;
    top: 0;
    left:0;
    width: 15%;
    height: 100vh;
    border-right: 1px solid black;
    background-image: linear-gradient(to bottom, rgba(74,194,154), rgba(189,255,243));
}

.navigation_list{
   margin-top: 30%;
   list-style-type: none;
}

.navigation_item{
    padding-left: 10%;
    padding-top: 7%;
    padding-bottom: 7%;
    color: black;
}

.navigation_item:hover{
    background: white;
}

.navigation_list a{
    text-decoration: none;
}

.section{
    width: 85%;
    margin-left: 15%;
}


.header{
    font-size: 3rem;
    text-align: center;
}

.smaller__header{
    font-size: 2rem;
    text-align: center;
}

.income_expense{
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 5rem;
    padding-bottom: 100%;
    margin-bottom: -100%;
}

.balance__sheet{
    width: 85%;
    margin: 5% auto 0 auto;
    overflow: hidden;
}

.list_of_transactions{
    text-align: left;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.add_transaction{
    margin: 0 auto;
    width: 50%;
}

.arrow{
    cursor: pointer;
}

.span_money{
    float: right;
    padding-right: 11%;
    text-align: right;
}

.span_money_right{
    float: right;
    text-align: right;
}

.span_date{
    font-size: 1.3rem;
}

.span_symbol{
    font-size: 1rem;
}

.span_symbol_header{
    font-size: 1.3rem;
}

.img_transaction{
    width:1.4rem;
    margin-bottom: .3rem;
    margin-left: .3rem;
}

ul.errorlist {display:none;}

.button{
    width: 17rem;
    padding: 0.7rem;
    border: 1px solid #666;
    border-radius: 100px;
    cursor: pointer;
    animation: all .5s ease-out;
    background: #fff;
    color: #666;
    margin-top: 1rem;
}

.button:hover{
    transform: translateY(-5px);
}

.button__input{
    display: block;
    margin: 3rem auto;
}

.button__class a:hover{
    text-decoration: none;
}

.list_of_transactions li {
    margin-top: 0.9rem;
}

.form_section{
   width:40%;
   margin-left: 37.5%;
   margin-top: 5%;
}

.categories__section{
    width: 60%;
    margin-left: 27.5%;
    margin-top: 5%;
}

.categories__list{
    text-align: left;
    padding-left: 10rem;
}

.categories__list li {
    margin-top: 0.9rem;
}

form{
    margin-top: 3rem;
}


@keyframes moveInDown {
	 0% {
		 opacity: 0;
		 transform: translateY(-5rem);
	 }


	 100% {
		 opacity: 1;
		 transform: translateY(0);
	 }
}


@media screen and (max-width: 1000px){

    .navigation{
        width: 100%;
        height: auto;
    }

    .navigation_list{
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    .navigation_item{
        float: left;
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 0;
        width: 20%;

    }
    .clear_float{
        clear: both;
    }

    .form_section{
        margin-top: 10%;
    }

    .section{
        width: 100%;
        margin-top: 10rem;
        margin-left: 0;
    }

    .form_section{
        margin: 10rem auto;
        width: 50%
    }

    .balance__sheet{
        width: 92%;
    }

    .list_of_transactions{
        font-size: 1.5rem;
    }

    .span_date{
        font-size: 1.2rem;
    }

    .img_transaction{
        width:1.2rem;
        margin-bottom: .3rem;
        margin-left: .25rem;
    }
    .button{
        width: 14rem;
    }

}


@media screen and (max-width: 715px){
    .income_expense{
        float: none;
        width: 80%;
        margin: 5rem auto;
        padding: 0;
    }

    .button{
        width: 13rem;
    }
    .form_section{
        width: 60%;
    }

}

@media screen and (max-width: 500px){
    body{
        font-size: 1rem;
    }
    .header{
        font-size: 2.4rem;
    }

    .smaller__header{
        font-size: 1.5rem;
    }

    .list_of_transactions{
        font-size: 1rem;
    }
    .form_section, .section{
        margin-top: 8rem;
    }
    .income_expense{
        margin: 2.5rem auto;
    }
    .span_date{
        font-size: .8rem;
    }
    .span_symbol{
        font-size: .6rem;
    }
    .img_transaction{
        width: 1rem;
    }

}
