*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    color: black;
    background-image: linear-gradient(to right, rgba(9,48,40, 0.85), rgba(35,122,87, 0.85)), url(background.jpg);
    background-size: cover;
    color: white;
}

html {
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

.navigation{
    position: fixed;
    top: 0;
    left:0;
    width: 15%;
    height: 100vh;
    border-right: 1px solid black;
    background-image: linear-gradient(to bottom, rgba(74,194,154), rgba(189,255,243))
}

.navigation_list{
   margin-left: 10%;
   margin-top: 20%;
   list-style-type: none;

}

.navigation_item{
    margin-top: 10%;
    color: black;
}

.section{
    width: 85%;
    margin-left: 15%;
}

.main__nav{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}



.header{
    font-size: 3rem;
    text-align: center;
}

.smaller__header{
    font-size: 2rem;
    text-align: center;
}

.income_expense{
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 3rem;
    padding-bottom: 100%;
    margin-bottom: -100%;
}

.balance__sheet{
    width: 70%;
    margin: 5% auto 0 auto;
    overflow: hidden;
}

.list_of_transactions{
    text-align: left;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.add_transaction{
    float: left;
    text-align: center;
    width: 50%;
}

.arrow{
    cursor: pointer;
}

.span_money{
    float: right;
    padding-right: 11%;
    font-weight: 700;
    text-align: right;
}

.img_transaction{
    width:10%;
    margin-bottom: .3rem;
    margin-left: .5rem;
}

ul.errorlist {display:none;}

.button{
    width: 13vw;
    padding: 0.7rem;
    border: 1px solid #666;
    border-radius: 100px;
    cursor: pointer;
    animation: all .5s ease-out;
    background: #fff;
    color: #666;
}

.button:hover{
    transform: translateY(-5px);
}

.button__input{
    display: block;
    margin: 3rem auto;
}

.list_of_transactions li {
    margin-top: 0.9rem;
}

.form_section{
   width:40%;
   margin-left: 37.5%;
   margin-top: 5%;
}
