*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    color: black;
}

html {
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}


.main__nav{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}



.header{
    font-size: 3rem;
    text-align: center;
}

.smaller__header{
    font-size: 2rem;
    text-align: center;
}

.income_expense{
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 3rem;
    padding-bottom: 100%;
    margin-bottom: -100%;
}

.balance__sheet{
    width: 70%;
    margin: 5% auto 0 auto;
    overflow: hidden;
}

.list_of_transactions{
    text-align: left;
}

.add_transaction{
    float: left;
    text-align: center;
    width: 50%;
}
