{% extends 'money_tracker/base.html' %}

{% block body_block %}
    <section class="balance section">
        <div class="balance__sheet">
            <h3 class="header"><span class="arrow arrow_left">&#8678 </span><span class="month">{{ month }}</span> <span class="year">{{year}}</span><span class="arrow arrow_right"> &#8680</span></h3>
            <div>
                <h4 class="smaller__header">Balance: {{balance}}$</h4>
            </div>
            <div class="income_expense">
                <h4 class="smaller__header">Income: {{income}}$</h4>
                <div class="list_of_transactions">
                  <ul>
                    {% for trans in income_transaction %}
                    <li>
                        <span class="span_category">{{trans.0}}</span>
                        <span class="span_money">{{trans.1}}$</span>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
            </div>
            <div class="income_expense">
                <h4 class="smaller__header">Expense: {{expense}}$</h4>
                <div class="list_of_transactions">
                  <ul>
                    {% for trans in expense_transaction %}
                    <li>
                        <span class="span_category">{{trans.0}}</span>
                        <span class="span_money">{{trans.1}}$</span>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
            </div>
            <div style="clear:both;"></div>

            <div class="add_transaction">
                <a href="{% url 'add_income' %}"><button class="button">Add income</button></a>
            </div>
            <div class="add_transaction">
                <a href="{% url 'add_expense' %}"><button class="button">Add expense</button></a>
            </div>
            <div style="clear:both;"></div>
        </div>
    </section>
{% endblock %}
{% block java_script %}
    <script>
    function balance_ajax(month_displayed, year_displayed){
      $.ajax({
        url: '{% url "check_balance" %}',
        data: {
            'month': month_displayed,
            'year': year_displayed
        },
        dataType: 'json',
        success: function(data){
            document.querySelector('.smaller__header').textContent = 'Balance: ' + data['balance'] + '$';
            document.querySelectorAll('.income_expense')[0].children[0].innerHTML = '<h4 class="smaller__header">Income: ' + data['income'] + '$</h4>';
            document.querySelectorAll('.income_expense')[1].children[0].innerHTML = '<h4 class="smaller__header">Expense: ' + data['expense'] + '$</h4>';
            document.querySelectorAll('.list_of_transactions')[0].textContent="";
            document.querySelectorAll('.list_of_transactions')[1].textContent="";
            var ul_one, ul_two, li;
            ul_one = document.createElement('ul');
            ul_two = document.createElement('ul');
            document.querySelectorAll('.list_of_transactions')[0].appendChild(ul_one);
            document.querySelectorAll('.list_of_transactions')[1].appendChild(ul_two);
            for (i=0; i<data['income_transactions'].length; i++){
                li = document.createElement('li');
                li.innerHTML = '<span class="span_category">'+data['income_transactions'][i][0]+'</span><span class="span_money">'+data['income_transactions'][i][1]+'$</span>';
                document.querySelectorAll('.list_of_transactions')[0].children[0].appendChild(li);            }
            for (i=0; i<data['expense_transactions'].length; i++){
                li = document.createElement('li');
                li.innerHTML = '<span class="span_category">'+data['expense_transactions'][i][0]+'</span><span class="span_money">'+data['expense_transactions'][i][1]+'$</span>';
                document.querySelectorAll('.list_of_transactions')[1].children[0].appendChild(li);            }
        }
      });
    }


    document.querySelector('.arrow_left').onclick = () => {
        var month_year = subtractMonth();
        month_year[0] = document.querySelector('.month').textContent;
        month_year[1] = document.querySelector('.year').textContent;
        balance_ajax(month_year[0], month_year[1]);
    }

    document.querySelector('.arrow_right').onclick = () => {
        var month_year = addMonth();
        month_year[0] = document.querySelector('.month').textContent;
        month_year[1] = document.querySelector('.year').textContent;
        balance_ajax(month_year[0], month_year[1]);
    }
    </script>
{% endblock %}